:root {
    background-color: lightgray;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-bottom: 2rem;
    border-color: gray;
    border-radius: 0.2cm;
    padding: 1rem 2rem;
    font-size: 1rem;
    background-color: lavender;
}

button:hover {
    opacity: 0.7;
}

#buttonContainer {
    display: flex;
    gap: 1rem;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}